* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 2rem;
}

img {
  max-height: 13rem;
}

.article-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 2fr);
  gap: 2rem;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border: .1rem solid black;


}

.title {
  align-items: flex-start;
}

.title {
  letter-spacing: .2;
  line-height: 1.2;

}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  min-width: 100%;
}